---
Checks: >-
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  portability-*,
  clang-analyzer-*
WarningsAsErrors: "*"
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle: file
